<br>
<br>
<br>
<br>
<br>

<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-center">
      <h2 class="text-primary">Reenvio de instruções de confirmação</h2>
    </div>
  </div>
  <div class="card-body">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field form-group">
      <br />
      <%= f.email_field :email, class:"form-control", placeholder:"Email", autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="actions d-flex justify-content-end">
      <%= f.submit "Reenviar de Instruções de Confirmação", class:"btn btn-success btn-sm" %> &nbsp | &nbsp
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
