

<br>
<br>

<div class="d-flex justify-content-center">
  <h1 class="text-primary">Ficha de Reserva</h1>
</div>
<br>
<br>
<br>

<div class="jumbotron">
  <h1 class="display-4">
    Hóspede: <%= @reserva.hospede.nome %>
  </h1>
  <p class="lead">
    Hotel: <%= @reserva.hotel.nome %> |
    Num: <%= @reserva.quarto.num %> |
    Tipo/Diária: <%= @reserva.tipo.quarto %> |
    Início: <%= @reserva.inicio%> |
    Fim: <%= @reserva.fim %>
  </p>
</div>
<br/>

<div class="d-flex justify-content-end">
  <%= link_to "Editar", edit_reserva_path(@reserva), class:"btn btn-warning btn-sm text-white" %> &nbsp | &nbsp
  <%= link_to "Voltar", reservas_path, class:"btn btn-success btn-sm" %> &nbsp | &nbsp
  <%= button_to "Excluir", @reserva, method: :delete, class: "btn btn-danger btn-sm" %>
</div>

<p class="d-flex justify-content-begin" style="color: green"><%= notice %></p>
