
<div class="d-flex justify-content-center">
  <h1 class="text-primary">Tipos/Diárias</h1>
</div>
<br>

<div>
<table class="table">
  <thead class="table-primary">
    <tr>
      <th scope="col">Tipo/Diária</th>
      <th colspan="2"></th>
    </tr>
  </thead>
<tbody>
    <tr>
<div id="tipos">
  <% @tipos.each do |tipo| %>
    <tr>
      <td> <%= tipo.quarto %> </td>
      <td><%= link_to "Ficha", tipo, class:"btn btn-outline-info btn-sm" %></td>
      <td><%= button_to "Excluir", tipo, method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
  <% end %>
</div>
</tr>
</tbody>
</table>
</div>
<div class="d-flex justify-content-begin">
<%= link_to "Novo Tipo", new_tipo_path, class:"btn btn-outline-primary" %> &nbsp &nbsp
</div>

<p class="d-flex justify-content-end" style="color: green"><%= notice %></p>