

<br>
<br>

<div class="d-flex justify-content-center">
  <h1 class="text-primary">Ficha de Hóspede</h1>
</div>
<br>

<br>
<br>

<div class="jumbotron">
  <h1 class="display-4">
    <%= @hospede.nome %>
  </h1>
  <p class="lead">
    Idade: <%= @hospede.idade %> &nbsp | &nbsp
    CPF: <%= @hospede.CPF %> <p>
  </p>
</div>
<br/>

<div class="d-flex justify-content-end">
  <%= link_to "Editar", edit_hospede_path(@hospede), class:"btn btn-warning btn-sm text-white" %> &nbsp | &nbsp
  <%= link_to "Voltar", hospedes_path, class:"btn btn-success btn-sm" %> &nbsp | &nbsp
  <%= button_to "Excluir", @hospede, method: :delete, class: "btn btn-danger btn-sm" %>
</div>

<p class="d-flex justify-content-begin" style="color: green"><%= notice %></p>