<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Hermes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%= nav_link 'Inicial', root_path %>
        <%= nav_link 'Sobre Nós', sobrenos_path %>
        <%= nav_link 'Quartos', quartinho_path %>
        <%= nav_link 'Hotéis', hoteis_path %>
        <% if user_signed_in? %>
          <%= nav_link 'Hóspedes', hospedes_path %>
          <%= nav_link 'Reservas', reservas_path %>
          <%= nav_link 'Tipos/Diárias', tipos_path %>
          <%= nav_link 'Quartos', quartos_path %>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
          <%= nav_link 'Editar Perfil', edit_user_registration_path %>
           <%= nav_link 'Sair', destroy_user_session_path %> 
      </ul>
        <% else %>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <%= nav_link 'Registrar-se', new_user_registration_path %>
          <%= nav_link 'Entrar', new_user_session_path %>
      </ul>
        <% end %>
      </ul>
    </div>
  </div>
</nav>